body {
    background-color: #11161a;
    font-family: Arial;
    overflow: hidden;
}

#center {
    margin:auto;
    text-align:center;
    border-radius: 25px;
    padding-top: 1%;
    background-color:rgb(207, 207, 209);
    height: 550px;
    width: 550px;

    
}

a {
        position:relative;
        top:-534px;
        left:560px;
        width:200px;
        height:100px;
    
}


img {
    border-radius: 50%;
    width: 50px;
    height:50px;
  }






#leftb {
    background-color: rgb(62, 171, 235);
    border-radius: 10px;
    position:relative;
    top:-500px;
    left:300px;
    width:200px;
    height:40px;
    box-shadow: 5px 5px 5px;
}


#leftlist {
    position:relative;
    top:-600px;
    left:300px;
    width:200px;
    height:100px;
}